[submodule "mobile/ios/vendor/DTCoreText"]
	path = mobile/ios/vendor/DTCoreText
	url = https://github.com/pegli/DTCoreText
[submodule "mobile/ios/Externals/DTCoreText"]
	path = mobile/ios/Externals/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
